# Name permutation and combination

- https://www.geeksforgeeks.org/permutation-and-combination-in-python/

- https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas

- https://pandas.pydata.org/pandas-docs/stable/merging.html

- https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [ ]:
# A Python program to print all  
# permutations using library function 
from itertools import permutations 
  
# Get all permutations of [1, 2, 3] 
perm = permutations([1, 2, 3]) 
  
# Print the obtained permutations 
for i in list(perm): 
    print (i)

In [ ]:
# A Python program to print all  
# permutations of given length 
from itertools import permutations 
  
# Get all permutations of length 2 
# and length 2 
perm = permutations([1, 2, 3], 2) 
  
# Print the obtained permutations 
for i in list(perm): 
    print (i)

In [ ]:
# A Python program to print all  
# combinations of given length 
from itertools import combinations 
  
# Get all combinations of [1, 2, 3] 
# and length 2 
comb = combinations([1, 2, 3], 2) 
  
# Print the obtained combinations 
for i in list(comb): 
    print (i)

In [ ]:
string = ['A','B','C','D']
temp=string[:]

f=open('combin.txt', 'a')

for x1 in range(0,2):
    if x1==1:
        temp[0]='X'
    for x2 in range(0,2):
        if x2==1:
            temp[1]='X'
        for x3 in range(0,2):
            if x3==1:
                temp[2]='X'
            for x4 in range(0,2):
                if x4==0:
                    f.write(''.join(temp)+'\n')
                if x4==1:
                    temp[3]='X'
                    f.write(''.join(temp)+'\n')

In [1]:
import pandas as pd

data = pd.read_csv('combin.txt', header = None)
data.columns = ["a"]
print (data)

     a
0  大小乂
1  一二工
2  戚伙田

In [6]:
splitted = data['a'].apply(lambda x: pd.Series(list(x)))
splitted.columns = ['B'+str(x) for x in splitted.columns]
df2 = data.join(splitted)
df2

     a B0 B1 B2
0  大小乂  大  小  乂
1  一二工  一  二  工
2  戚伙田  戚  伙  田

In [7]:
df2.drop(df2.columns[[0]], axis=1, inplace=True)
df2

  B0 B1 B2
0  大  小  乂
1  一  二  工
2  戚  伙  田

In [32]:
df2

  B0 B1 B2
0  大  小  乂
1  一  二  工
2  戚  伙  田

In [44]:
left = pd.DataFrame(df2.iloc[:, 0:2])
left

  B0 B1
0  大  小
1  一  二
2  戚  伙

In [49]:
right = pd.DataFrame(df2.iloc[:,[0,2]])
right

  B0 B2
0  大  乂
1  一  工
2  戚  田

In [56]:
left['key'] = 1
right['key'] = 1
df4 = pd.merge(left, right, on='key')
del df4['key']
del df4['B0_y']
print (df4)

  B0_x B1 B2
0    大  小  乂
1    大  小  工
2    大  小  田
3    一  二  乂
4    一  二  工
5    一  二  田
6    戚  伙  乂
7    戚  伙  工
8    戚  伙  田

In [57]:
print(df4.to_csv(r'comb1.txt', header=None, index=None, sep=' ', mode='a'))

None

In [61]:
import pandas as pd

data = pd.read_csv('combin.txt', header = None)
data.columns = ["a"]
splitted = data['a'].apply(lambda x: pd.Series(list(x)))
splitted.columns = ['B'+str(x) for x in splitted.columns]
df2 = data.join(splitted)
df2.drop(df2.columns[[0]], axis=1, inplace=True)
left = pd.DataFrame(df2.iloc[:, 0:2])
right = pd.DataFrame(df2.iloc[:,[0,2]])

left['key'] = 1
right['key'] = 1
df4 = pd.merge(left, right, on='key')
del df4['key']
del df4['B0_y']
print (df4)

df4.to_csv(r'comb1.txt', header=None, index=None, sep=' ', mode='a')

   B0_x B1 B2
0     大  小  乂
1     大  小  工
2     大  小  田
3     大  小  杲
4     一  二  乂
5     一  二  工
6     一  二  田
7     一  二  杲
8     戚  伙  乂
9     戚  伙  工
10    戚  伙  田
11    戚  伙  杲
12    戚  蚪  乂
13    戚  蚪  工
14    戚  蚪  田
15    戚  蚪  杲

In [11]:
from itertools import product
df3 = pd.DataFrame(list(product(df2['B0'], df2['B1'])), columns=['l1', 'l2'])

In [16]:
import itertools

itertools.combinations(df2)

TypeError: Required argument 'r' (pos 2) not found

In [8]:
df2['B0']

0    大
1    一
2    戚
Name: B0, dtype: object

In [ ]:
with open('combin.txt', 'r') as f:
    myNames = [line.strip() for line in f]
    print (myNames)

In [ ]:
a = list(str(myNames))
print (a)

In [ ]:
x = [''.join(c for c in s if c not in string.punctuation) for s in a]
x = [s for s in x if s]
print(x)

In [ ]:
x

In [ ]:
x = [s for s in x if s]
print(x)

In [ ]:
k = []
for i in x:
    str(i).replace(' ','')
    k.append(i)

print (k)

In [ ]:
a = x

In [ ]:
import itertools
c = list(itertools.combinations(a, 3))
c

In [ ]:
df = pd.DataFrame({'col':L})
print (df)

In [ ]:
df = pd.DataFrame(c, columns=('first', 'second', 'third'))
display (df.head(30))

In [ ]:
df.isnull()

In [ ]:
results = []
for element in a:
    temp = ""
    for ch in element:
        if ch not in SYMBOLS:
            temp += ch

    results.append(temp)

print (results)

In [ ]:
import re
text = re.sub('[^A-Za-z]', '', a)
text

In [ ]:
wordlist

In [ ]:
import itertools
list(itertools.combinations(data['Item'], 2))

In [ ]:
s = pd.Series(["this is good text", "but this is even better"])

In [ ]:
s

In [ ]:
s.str.split(expand=True)